<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  

  <div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Pharmacogenomic Report</a></li>
    <li><a data-toggle="tab" href="#snpedia">SNPedia Data</a></li>
    <li><a data-toggle="tab" href="#summary">Summary Results</a></li>
    <li><a data-toggle="tab" href="#variants-overview">Variants Overview</a></li>
    <li><a data-toggle="tab" href="#variants-details">Variants Details</a></li>
    <li><a data-toggle="tab" href="#annotations-entry">Annotations Entry</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Pharmacogenomic Report</h3>
    
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <label for="filter">Filter results</label>
      <input id="filter" type="text" , name="filter" , ng-model="textFilter">
    </div>
    <table ng-table="vm.tableParams" class="table" show-filter="true">
      <tr ng-repeat="report in $data">
        <td title="'RS'" filter="{ rs: 'text'}" sortable="'rs'">
          {{report.rs}}</td>
        <td title="'Gene'" filter="{ gene: 'number'}" sortable="'gene'">
          {{report.gene}}</td>
        <td title="'Summary'" filter="{ summary: 'number'}" sortable="'summary'">
          {{report.summary}}</td>
        <td title="'Missens/Ref'" filter="{ missens: 'number'}" sortable="'missens'">
          {{report.missens}}</td>
        <td title="'Variant'" filter="{ variant: 'number'}" sortable="'variant'">
          {{report.variant}}</td>
        <td title="'Annotation'" filter="{ annotation: 'number'}" sortable="'annotation'">
          {{report.annotation}}</td>
      </tr>
    </table>
  </div>
  </div>
  
    <div id="snpedia" class="tab-pane fade">
      <h3>Wiki Text</h3>
      <div class="col-xs-12 col-sm-4">
        <label for="filter">Filter results</label>
        <input id="filter" type="text" , name="filter" , ng-model="textFilter">
      </div>
     
  
      <table class="table no-margin" ng-table="vm.wikiTextParams" show-filter="true">
            <tbody>
                <tr ng-repeat="wikiText in vm.wikiTextList">
                    <td title="'title'" sortable="'title'" filter="{title:'text'}">
                      {{wikiText.title}}
                    </td>
                    <td title="'wikiTxt'" sortable="'wikiTxt'" filter="{wikiTxt:'text'}"> 
                      {{wikiText.wikiTxt}}
                    </td>
                </tr>
            </tbody>
      </table>

      <h3>Wiki Tags</h3>
      <table class="table no-margin" ng-table="vm.wikiTagsParams" show-filter="true">
            <tbody>
                <tr ng-repeat="wikiTags in vm.wikiTagsList">
                    <td title="'title'" sortable="'title'" filter="{title:'text'}">
                      {{wikiTags.title}}
                    </td>
                    <td title="'wikiTag'" sortable="'wikiTag'" filter="{wikiTag:'text'}"> 
                      {{wikiTags.wikiTag}}
                    </td>
                </tr>
            </tbody>
      </table>
    </div>

    <div id="summary" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="variants-overview" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="variants-details" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="annotations-entry" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>


  <footer-generic></footer-generic>
</div>