<navigation></navigation>

<div class="container">

 <page-header content="vm.pageHeader"></page-header>
 
  <div class="row">
    <h3>Wiki Text</h3>
    <div class="col-xs-12 col-sm-4">
      <label for="filter">Filter results</label>
      <input id="filter" type="text" , name="filter" , ng-model="textFilter">
    </div>
    
    <table ng-table="vm.wikiTextParams" class="table" show-filter="true">
      <tr ng-repeat="wikiText in vm.wikiTextParamsList">
        <td data-title="'title'" filter="{ title: 'text'}" sortable="'title'">
          {{wikiText.title}}</td>
        <td data-title="'wikiTxt'" filter="{ wikiTxt: 'text'}" sortable="'wikiTxt'">
          {{wikiText.wikiTxt}}</td>
      </tr>
    </table>

    <h3>Wiki Tags</h3>
    
    <div class="col-xs-12 col-sm-4">
      <label for="filter">Filter results</label>
      <input id="filter" type="text" , name="filter" , ng-model="textFilter">
    </div>
     <table ng-table="vm.wikiTagsParams" class="table" show-filter="true">
      <tr ng-repeat="wikiTag in vm.wikiTagsList">
        <td data-title="'title'" filter="{ title: 'text'}" sortable="'title'">
          {{wikiTag.title}}</td>
        <td data-title="'wikiTag'" filter="{ wikiTxt: 'text'}" sortable="'wikiTag'">
          {{wikiTag.wikiTag}}</td>
      </tr>
    </table>
  </div>

  <footer-generic></footer-generic>
</div>